<% if current_user.role == 'admin' || current_user.role == 'super' %>
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :google_account_id, style: "display: block" %>
    <%= form.text_field :google_account_id %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div class="form-group">
    <%= form.label :role %>
    <%= form.select :role, ['normal', 'super', 'exec'], {}, class: 'form-control' %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
<% else %>
  <p style="color: red">You cannot access this data as a normal user.</p>
<% end %>
