<div id="<%= dom_id ticket %>">
  <p>
    <strong>Ticket:</strong>
    <%= ticket.id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </p>

  <p>
    <strong>Executive:</strong>
    <%= ticket.executive_id %>
  </p>

  <p>
    <strong>Supervisor:</strong>
    <%= ticket.supervisor_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= ticket.priority %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= ticket.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>Star rating:</strong>
    <%= ticket.star_rating %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= ticket.comment %>
  </p>

</div>
