<p style="color: green"><%= notice %></p>

<h1>Tickets</h1>

  <table class="table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Executive name</th>
      <th>Supervisor name</th>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Star rating</th>
      <th>Created at</th>
      <th></th>
    </tr>
    <tbody>
      <% @tickets.each do |tickets| %>
      <% if current_user.role == 'admin' || (current_user.role == 'normal' && tickets.user_id == current_user.id) %>
    <tr>
      <td><%= tickets.id %></td>
      <td><%= tickets.executive.name %></td>
      <td><%= tickets.supervisor.name %></td>
      <td><%= tickets.title %></td>
      <td><%= tickets.description %></td>
      <td><%= tickets.priority %></td>
      <td><%= tickets.due_date %></td>
      <td><%= tickets.status %></td>
      <td><%= tickets.star_rating %></td>
      <td><%= tickets.created_at %></td>
      <td><%= link_to "Show ticket info", tickets, class: 'btn btn-outline-warning' %>
    </tr>
    <% end %>
    <% end %>
    <tbody>
  </table>
<%= link_to "New tickets", new_ticket_path, class: 'btn btn-outline-warning' %>
