<h1>Tickets</h1>

<div class="btn-group" role="group">
  <%= link_to "Sort by Date", tickets_path(sort: "date"), class: 'btn btn-outline-primary' %>
  <%= link_to "Open Tickets", tickets_path(status: "Open"), class: 'btn btn-outline-primary' %>
  <%= link_to "Closed Tickets", tickets_path(status: "Closed"), class: 'btn btn-outline-primary' %>
</div>
<p></p>
<table class="table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <% if current_user.role != 'normal' %>
        <th>Priority</th>
      <% end %>
      <th>Due Date</th>
      <th>Status</th>
      <th>Star rating</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <% if current_user.role == 'admin' || current_user.role == 'super' || current_user.role == 'normal' && ticket.user_id == current_user.id || current_user.role == 'exec' && ticket.execrandoms == current_user.execrandoms %>
        <tr>
          <td><%= ticket.id %></td>
          <td><%= ticket.title %></td>
          <td><%= ticket.description %></td>
          <% if current_user.role != 'normal' %>
            <td><%= ticket.priority %></td>
          <% end %>
          <td><%= ticket.due_date %></td>
          <td><%= ticket.status %></td>
          <% if ticket.star_rating.present? %>
            <td><%= ticket.star_rating %></td>
          <% else %>
            <td>[Not closed to rate]</td>
          <% end %>
          <td><%= ticket.created_at %></td>
          <td><%= link_to "Show ticket info", ticket, class: 'btn btn-outline-warning' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "New Ticket", new_ticket_path, class: 'btn btn-outline-warning' %>
