<h1>Title: <%= @ticket.title %></h1>
<%= render @ticket %>

<div>
  <% if current_user.role == 'normal' %>
    <% if @ticket.status == 'Closed' %>
      <div class="d-flex align-items-center mb-3">
        <div id="star-rating-form" class="mr-2">
          <%= form_with(model: @ticket, remote: true) do |form| %>
            <div class="form-group">
              <%= form.label :star_rating %>
              <%= form.select :star_rating, (1..5), {}, class: 'form-control', style: "width: 50px; background-color: transparent; color: rgb(198, 151, 73);" %>
            </div>
        </div>
        <%= form.submit "Update star rating", class: 'btn btn-outline-warning' %>
        <% end %>
      </div>
      <div id="star-rating-message"></div>
    <% end %>
    <div class="d-inline-block">
      <%= link_to "Edit this ticket", edit_ticket_path(@ticket), class: 'btn btn-outline-warning mr-2' %>
      <%= button_to "Destroy this ticket", @ticket, method: :delete, class: 'btn btn-outline-warning' %>
    </div>
  <% else %>
    <% if @ticket.status == 'Closed' %>
      <%= form_with(model: @ticket) do |form| %>
        <div class="form-group">
          <%= form.label :star_rating %>
          <%= form.select :star_rating, (1..5), {}, class: 'form-control', style: "width: 50px; background-color: transparent; color: rgb(198, 151, 73);" %>
        </div>
        <%= form.submit "Update star rating", class: 'btn btn-outline-warning' %>
      <% end %>
    <% end %>
  <% end %>
  
  <h2>Comments</h2>

  <% @comments.each do |comment| %>
    <div class="comment-box">
      <p>Created by: <%= comment.user_creator.name %> - <%= comment.role %></p>
      <p><%= comment.data %></p>
      <p>Created at: <%= comment.created_at %></p>
    </div>
  <% end %>
  
  <h3>Add a Comment</h3>
  
  <%= form_with(model: @new_comment, url: ticket_comments_path(@ticket)) do |form| %>
    <%= form.hidden_field :ticket_id, value: @ticket.id %>
    <%= form.hidden_field :user_creator_id, value: current_user.name %>
    <%= form.hidden_field :role, value: current_user.role %>
  
    <div class="field">
      <%= form.text_area :data, class: "form-control", id: "exampleFormControlTextarea1", rows: 4 %>
    </div>
      
    <%= form.submit "Add Comment", class: 'btn btn-outline-warning'%>
  <% end %>
  


  <%= link_to "Back to tickets", tickets_path, class: 'btn btn-outline-warning' %>
</div>



<script>
  $(document).ready(function() {
    $('#star-rating-form').on('submit', function(event) {
      event.preventDefault(); // Evita el envío del formulario

      var form = $(this);
      var url = form.attr('action');
      var method = form.attr('method');
      var data = form.serialize();

      $.ajax({
        url: url,
        method: method,
        data: data,
        dataType: 'json',
        success: function(response) {
          // Actualiza el mensaje de éxito o muestra cualquier otra lógica necesaria
          $('#star-rating-message').text('Star rating updated successfully');
        },
        error: function(xhr, status, error) {
          // Maneja errores si es necesario
          $('#star-rating-message').text('Error updating star rating');
        }
      });
    });
  });
</script>
