#<h1><%= @ticket.title %></h1>
#<p>Description: <%= @ticket.description %></p>
#<!-- Display other ticket information -->
<p style="color: green"><%= notice %></p>
<%= render @ticket %>

<div>
  <%= link_to "Edit this ticket", edit_ticket_path(@ticket), class: 'btn btn-outline-warning' %> |
  <%= link_to "Back to tickets", tickets_path, class: 'btn btn-outline-warning' %>

  <%= button_to "Destroy this ticket", @ticket, method: :delete, class: 'btn btn-outline-warning' %>
</div>
