<%= form_with(model: report) do |form| %>
  <% if report.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :executive_id, style: "display: block" %>
    <%= form.number_field :executive_id %>
  </div>

  <div>
    <%= form.label :report_type, style: "display: block" %>
    <%= form.text_field :report_type %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.text_area :data %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
