<%= form_with(model: report, class: "form") do |form| %>
  <% if report.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :supervisor_id, "Creator name: " %>
    <%= form.hidden_field :supervisor_id, value: current_user.id %>
    <%= current_user.name %> <!-- Mostrar el nombre del supervisor actual -->
  </div>

  <div class="form-group">
    <%= form.label :executive_id, class: "control-label" %>
    <%= form.collection_select :executive_id, User.where(role: "exec"), :id, :name, { prompt: "Select executive" }, { class: "form-control" } %>
  </div>


  <div class="form-group">
    <%= form.label :report_type %>
    <%= form.text_field :report_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :data %>
    <%= form.text_area :data, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
