<p style="color: green"><%= notice %></p>

<h1>Reports</h1>

  <table class="table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Supervisor ID</th>
      <th>Report Type</th>
      <th>Created at</th>
      <th>Data</th>
      <th></th>
    </tr>
    <tbody>
      <% @reports.each do |reports| %>
    <tr>
      <td><%= reports.id %></td>
      <td><%= reports.supervisor_id %></td>
      <td><%= reports.report_type %></td>
      <td><%= reports.created_at %></td>
      <td><%= reports.data %></td>
      <td><%= link_to "Show user info", reports, class: 'btn btn-outline-warning' %>
    </tr>
    <% end %>
    <tbody>
  </table>
<%= link_to "New reports", new_report_path, class: 'btn btn-outline-warning' %>
