<% if current_user.role == 'admin' || current_user.role == 'super' %>

  <h1>Reports</h1>

  <table class="table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Executive name</th>
        <th>Report Type</th>
        <th>Created at</th>
        <th>Data</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <% if current_user.role == 'super' && report.supervisor_id != current_user.id %>
          <% next %>
        <% end %>
        <tr>
          <td><%= report.id %></td>
          <td><%= report.executive.name %></td>
          <td><%= report.report_type %></td>
          <td><%= report.created_at %></td>
          <td><%= report.data %></td>
          <td><%= link_to "Show user info", report, class: 'btn btn-outline-warning' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "New report", new_report_path, class: 'btn btn-outline-warning' %>

<% else %>
  <p style="color: red">You cannot access this data as a normal user.</p>
<% end %>
