<% if current_user.role == 'admin' || current_user.role == 'super' %>
<p style="color: green"><%= notice %></p>

<%= render @report %>

<div>
  <%= link_to "Edit this report", edit_report_path(@report), class: 'btn btn-outline-warning' %> |
  <%= link_to "Back to reports", reports_path, class: 'btn btn-outline-warning' %>

  <%= button_to "Destroy this report", @report, method: :delete, class: 'btn btn-outline-warning' %>
</div>
<% else %>
  <p style="color: red">You cannot access this data as a normal user.</p>
<% end %>
